<h1>¡OFICIAL! Sin Messi, esta es la lista de 30 jugadores nominados al Balón de Oro 2022; Cristiano sí está dentro de la nómina</h1>
<p>El máximo galardón en el fútbol se entregará en octubre. Karim Benzema apunta a ganarlo. Sorprende la ausencia de Messi dentro de los nominados al Balón de Oro 2022; Cristiano Ronaldo sí está.</p>
<hr>
<u>*Ajustar Imagen:</u> <br>
<input type="number" [value]="alto" (input)=" capturarAlto($event)">
<input type="number"[value]="ancho" (input)=" capturarAncho($event)"> <br>
<img [src]="imagen" [height]="alto" [height]="alto"[width]="ancho">
<hr>

<h3>Este viernes la revista francesa France Football anunció los 30 nominados para el Balón de Oro de la temporada 2021/22.</h3> <br>
<h3 [ngStyle]="{'color': color}">El delantero merengue Karim Benzema es el favorito a ganar el premio y todo indica que así será tras su gran temporada (Liga y Champions).</h3>
<u>*Prueba cambiar el color:</u> <br>
<input type="color"
[value]="color"
(change)="capturarColor($event)">
{{ color }}
<br> <br>
<button (click)="eventoBoton($event)">¡La Sopresa!</button>
<button (click)="mostrar = !mostrar">¡La Sopresa!</button>
<h3 [ngClass]="{
     esconder:mostrar
    }">La gran sorpresa de la nómina es la ausencia del último ganador del galardón, el argentino Lionel Messi, que tras una temporada normal en el PSG, no llegó a entrar en la lista por primera vez desde la campaña 2005/2006. Su compañero de equipo, Neymar, tampoco fue seleccionado.</h3>

<br>

<u>*El scroll está en {{scroll}}</u>
<section
  class="section"
  (scroll)="scrollEn($event)">

  <h2>Listado Oficial Balón de Oro</h2>
  Thibaut Courtois (Real Madrid), Rafael Leão (AC Milan) Mohamed Salah (Liverpool), Joshua Kimmich (Bayern Múnich), Cristopher Nkunku (Leipzig).
  <img [src]="imagenList1" class="imgTam"> <br>
  Trent Alexander-Arnold (Liverpool), Vinicius JR (Real Madrid), Bernardo Silva (Manchester City), Luis Díaz (Liverpool), Robert Lewandowski (Barcelona).
  <img [src]="imagenList2" class="imgTam"> <br>
  Karim Benzema (Real Madrid), Fabinho (Liverpool), Riyad Mahrez (Manchester City), Heung Min Son (Tottenham), Casemiro (Real Madrid).
  <img [src]="imagenList3" class="imgTam"> <br>
  Phil Foden (Manchester City), Harry Kane (Tottenham), Sadio Mané (Liverpool), Darwin Núñez (Liverpool), Mike Maignan (AC Milan).
  <img [src]="imagenList4" class="imgTam"> <br>
  Kevin De Bruyne (Manchester City), Sebastian Haller (Borussia Dortmund, Luka Modric (Real Madrid), Cristiano Ronaldo (Manchester United), Antonio Rudiger (Real Madrid).
  <img [src]="imagenList5" class="imgTam"> <br>
  Kylian Mbappé (PSG), Erling Haaland (Manchester City), Joao Cancelo (Manchester City), Virgil Van Dijk (Liverpool), Dusan Vlahovic (Juventus).
  <img [src]="imagenList6" class="imgTam"> <br>
</section>
